/* created: 3/29/15 */

/* updated: 3/23/15 */



/*body {
	background-color: #7A6249;

}

*/

#page-wrap {
     
	width: 800px;
 
	margin: 0 auto;

}



/* unvisited link */

a:link {
  
	color: #000000;
	
	text-decoration: none;
	
	font-size: 16px;
		
	font-family: Arial, Helvetica;

}



/* mouse over link */

a:hover {
  
	color: #FFFFFF;
	
	background-color: #cccccc;
	
	font-weight: bold;

}



.outline {
	
	border-radius: 5px;
	
	border: 2px dotted;
	

}



td.personal {
	
	background-color: #cca37a; 
	
	border-radius: 5px;
	
	text-align: center;
	
	vertical-align: middle;
	
	font-size: 16px;
		
	font-family: Arial, Helvetica;
	
	/*border: 1px solid;
*/	
	height: 100px; 
		
	width: 320px;
	

}



.title {
	
	width: 200px;
	
	height: 25px;
	
	/*background-color: #B8936E; 

	background-color: #;	*/
	border-radius: 5px;
	
	font-size: 16px;
	
	font-family: Arial, Helvetica;
	
	/*border: 1px solid;
*/	
	text-align: left;

}



td {
	
	background-color: #B8936E; 
	
	border-radius: 5px;
	
	font-size: 16px;
	
	font-family: Arial, Helvetica;
	
	padding-left: 10px;
	
	/*border: 1px solid;
*/	
	height: 150px; 
	width: 650px;
	

}



td:hover {
	
	background-color: #cccccc;

}



tr:hover {
	
	background-color: #cccccc;

}



#copy {
	
	font-size: 8px;
		
	font-family: Arial, Helvetica;
	
	border-radius: 0px;
	
	border: 0px;
		
	background-color: #7A6249;

}





 

.noprint {
	display: none;
}   
    
    
    
