/* created: 3/20/15 */

/* updated: 3/29/15 */

/* css for resume.html */


body {
	background-color: #62edef;

}



#page-wrap {
     
	width: 800px;
 
	margin: 0 auto;

}



/* unvisited link */

a:link {
  
	color: #000000;
	
	text-decoration: none;
	
	font-size: 16px;
		
	font-family: Arial, Helvetica;

}



/* mouse over link */

a:hover {
  
	color: #FFFFFF;
	
	background-color: #000000;
	
	font-weight: normal;

}



.outline {
	
	border-radius: 5px;
	
	border: 2px dotted;
	

}



td.personal {
	
	background-color: #C2E0FF; 
	
	border-radius: 5px;
	
	text-align: center;
	
	vertical-align: middle;
	
	font-size: 16px;
		
	font-family: Arial, Helvetica;
	
	/*border: 1px solid;
*/	
	height: 100px; 
		
	width: 320px;
	

}



.title {
	
	width: 200px;
	
	height: 25px;
	
	/*background-color: #C2E0FF;

	background-color: #; */	
	border-radius: 5px;
	
	font-size: 16px;
	
	font-family: Arial, Helvetica;
	
	/*border: 1px solid;
*/	
	text-align: left;

}



td {
	
	background-color: #C2E0FF; 
	
	border-radius: 5px;
	
	font-size: 16px;
	
	font-family: Arial, Helvetica;
	
	padding-left: 10px;
	
	/*border: 1px solid;
*/	
	height: 150px; 
	width: 650px;
	

}



td:hover {
	
	background-color: #FFFFFF;

}


#copy1 {
	
	font-size: 8px;
		
	font-family: Arial, Helvetica;
	
	border-radius: 0px;
	
	border: 0px;
		
	background-color: #62edef;

	width: 200px;
	height: 25px;
}

#copy2 {
	
	font-size: 8px;
		
	font-family: Arial, Helvetica;
	
	border-radius: 0px;
	
	border: 0px;
		
	background-color: #62edef;

	width: 200px;
	height: 25px;
}





    
 



	   
    
    
    
